:root {
    --color-1: #5B9A8B;
    --color-2: #DDE6ED;
    --color-3: #F7E987;
    --color-4: white;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 128px;
    font-family: 'Roboto', sans-serif;
}

aside {
    min-height: 100vh;
    background-color: var(--color-1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
}

aside .section {
    margin: 2rem 0 2rem;
}

aside button {
    width: 100%;
    background-color: var(--color-1);
    border: 2px var(--color-1) solid;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    cursor: pointer;
}

aside button:hover {
    background-color: var(--color-4);
    border: 2px var(--color-4) solid;
}

.bigger-button {
    font-size: 1.8rem;
}

nav {
    padding: 1rem;
}

.nav-top,
.nav-bottom,  
.left,
.rigth {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-top .left {
    flex: 1.5;
}

.nav-top .left input {
    flex: 1;
    border: 2px var(--color-2) solid;
    border-radius: 10px;
    background-color: var(--color-2);
}

.nav-top .rigth {
    flex: 1;
    justify-content: flex-end;
}

.nav-bottom {
    justify-content: space-between;
}

.nav-bottom button {
    width: 100px;
    height: 30px;
    background-color: var(--color-1);
    border: 2px var(--color-1) solid;
    border-radius: 20px;
    cursor: pointer;
}

.nav-bottom button:hover {
    background-color: var(--color-4);
}

main {
    background-color: var(--color-2);
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas: 
        "Projects Announcements" 
        "Projects Trending";
    gap: 15px;
}

.section > p {
    margin-bottom: 0.5rem;
}

.projects {
    grid-area: Projects;
}

.announcements {
    grid-area: Announcements;
}

.trending {
    grid-area: Trending;
}

.projects .group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.card {
    border-radius: 15px;
    background-color: var(--color-4);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: grid;
    grid-template-columns: 1fr 40fr;
}

.card .color-stripe {
    background-color: var(--color-3);
    grid-row: 1/3;
    border-radius: 15px 0 0 15px;
}

.card .text {
    margin: 1rem;
}

.text > h1 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.card .buttons {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
}

.card button {
    padding: 5px 10px;
    background: var(--color-4);
    border: 2px var(--color-4) solid;
    border-radius: 20px;
    cursor: pointer;
}

.card button:hover {
    background: var(--color-3);
    border: 2px var(--color-3) solid;
}

.announcements .group {
    border-radius: 15px;
    background-color: var(--color-4);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.group > .news {
    margin: 1rem;
}

.news > h1 {
    margin-bottom: 1rem;
}

hr {
    margin-left: 1rem;
    margin-right: 1rem;
  }

.trending .group {
    border-radius: 15px;
    background-color: var(--color-4);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
}

.trending .person {
    margin: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}